@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #dd7813;
    --color-light: #dd7813;
}

#main{  
    display: flex;
    background-color: #282c34;
    align-items: center;
    height: 100vh;
    padding-right: 50px;
}

.board {
    text-align: center;
    background-color: #282c34;
    /*padding-right: 50px;*/
}

.board .leaderboard{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.board .duration{
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: #61dafb;
    /*justify-content: flex-end;*/
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */
    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 1em;
}

#profile .flex .item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 50% ;
}

#profile .flex img{
    width: 20%;
    height: 20% ;
    border-radius: 15%;
}

#profile .flex .info{
    text-align: right;
    padding: 1em;
    color: rgb(182, 141, 46);
    padding-right: 50px;
}

.text-dark{
    color: var(--color-dark);
}